<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="POELadder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="POELadder.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <POELadder.Properties.Settings>
            <setting name="SeasonEventListURL" serializeAs="String">
                <value>http://api.pathofexile.com/leagues</value>
            </setting>
            <setting name="SeasonOneStandingsURL" serializeAs="String">
                <value>http://www.pathofexile.com/api/season-ladders?&amp;limit=50&amp;id=Race+Season+One</value>
            </setting>
        </POELadder.Properties.Settings>
        <POELadder.Settings1>
            <setting name="SeasonURL" serializeAs="String">
                <value>http://www.pathofexile.com/api/season-ladders?&amp;limit=50&amp;id=Race+Season+One</value>
            </setting>
        </POELadder.Settings1>
    </userSettings>
</configuration>