<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="POELadder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="POELadder.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <userSettings>
    <POELadder.Properties.Settings>
      <setting name="SeasonEventListURL" serializeAs="String">
        <value>http://api.pathofexile.com/leagues</value>
      </setting>
      <setting name="SeasonStandingsURL" serializeAs="String">
        <value>http://www.pathofexile.com/api/season-ladders?&amp;limit=50&amp;id=Race+</value>
      </setting>
      <setting name="Leagues" serializeAs="String">
        <value>http://api.pathofexile.com/leagues</value>
      </setting>
      <setting name="MinimizeToTray" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LaunchWithWindows" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableToasts" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="TwitchOffline" serializeAs="String">
        <value>.\\Assets\\twitch-offline.png</value>
      </setting>
      <setting name="TwitchOnline" serializeAs="String">
        <value>.\\Assets\\twitch-online.png</value>
      </setting>
    </POELadder.Properties.Settings>
    <POELadder.Settings1>
      <setting name="SeasonURL" serializeAs="String">
        <value>http://www.pathofexile.com/api/season-ladders?&amp;limit=50&amp;id=Race+Season+One</value>
      </setting>
    </POELadder.Settings1>
  </userSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
</configuration>